:root{
    --bs-primary:#933C24;
}


.btn-primary{
    background-color:var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
}

.bg-h-img{
    background-image: url("../images/header_background.png");
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.h-heading{
    font-family: "Sansita Swashed";
    font-size: 4rem;
    color: white;
    font-weight: 400;
    line-height: 1.3;
}

.h-subheading{
    color: #E9BD8C;
    font-family: "Inter";
    font-size: 1.2rem;
    
}